{
	"extends": "@istanbuljs/nyc-config-typescript",
	"all": true,
	"check-coverage": true,
	"include": [
		"src"
	],
	"cache": false,
	"extension": [
		".ts"
	],
	"exclude": [
		"**/*.d.ts",
		"**/*.spec.ts"
	],
	"require": [
		"ts-node/register"
	],
	"cwd": "./",
	"reporter": [
		"text",
		"nyc-report-lcov-absolute",
		"text-summary"
	],
		"branches": 100,
		"lines": 100,
		"functions": 100,
		"statements": 100
}